section.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 269px;
}

section.about > .bl-l {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 650px;
  margin-top: 44px;
}

section.about > .bl-l > div {
  font-family: "Jura", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

section.about > .bl-l > p {
  font-family: "Jura", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

section.about > .bl-r {
  max-width: 558px;
}

section.about > .bl-r > .wrap-pers {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid #16a5a5;
  border-radius: 50%;
  overflow: hidden;
}

section.about > .bl-r > .wrap-pers > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}

section.about > .bl-r > .wrap-pers > img:nth-of-type(1) {
  display: block;
}

section.about > .bl-r > .wrap-pers > img:nth-of-type(2) {
  display: none;
}

section.skills {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 132px;
  margin-top: 281px;
}

section.skills > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;

  font-family: "Jura", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

section.skills > .bl-l {
  max-width: 538px;
  width: 100%;
}

section.skills > .bl-r {
  max-width: 426px;
  width: 100%;
}

section.skills > div > ul {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 35px;
}

section.skills > div > ul > li {
  position: relative;
  overflow: hidden;
  isolation: isolate;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 538px;
  height: 90px;
  padding: 0 24px;

  background: rgb(255 255 255 / 10%);
  border: 1px solid #c9c9c9;
  border-radius: 50px;

  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);

  box-shadow:
    inset 0 0 0 1px #595959,
    inset 0 1px 0 rgb(255 255 255 / 18%),
    inset 0 -1px 0 rgb(0 0 0 / 15%);
  font-family: "Jura", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

section.skills > div > ul > li::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(-45deg, rgb(255 255 255 / 14%) 0%, rgb(255 255 255 / 5%) 42%, transparent 72%);
}

section.contact {
  position: relative;
  z-index: 5;
  margin-top: 198px;
  margin-bottom: 262px;
}

section.contact .wrap-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

section.contact .wrap-cont .bl-contact {
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

section.contact .wrap-cont .wrap-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 426px;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: -16px;
}

section.contact .wrap-cont .wrap-inputs > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

section.contact .wrap-cont .wrap-inputs > div > label {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

section.contact .wrap-cont .wrap-inputs > div > input {
  outline: none;
  width: 100%;
  max-width: 426px;
  height: 56px;
  padding: 0 24px;
  border-radius: 80px;
  font-family: "Jura", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 1px 1px 3px rgba(255, 255, 255, 0.3),
    inset -1px -1px 4px rgba(0, 0, 0, 0.2),
    0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

section.contact .wrap-cont .wrap-inputs > div > input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

section.contact .wrap-cont .wrap-inputs > div > input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

section.contact .wrap-cont .wrap-forcontacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 426px;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials > span {
  display: flex;
  cursor: pointer;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials > span > svg > path {
  fill: rgb(255 255 255 / 70%);
  transition:
    fill 0.3s ease,
    transform 0.5s ease;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials > span:hover > svg > path {
  fill: rgb(255 255 255 / 100%);
  transform: scale(1.1);
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials > span.active > svg > path {
  fill: rgb(255 255 255 / 20%);
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social {
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social.socshow {
  opacity: 1;
  pointer-events: unset;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > label {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input {
  outline: none;
  width: 100%;
  max-width: 426px;
  height: 56px;
  padding: 0 24px;
  border-radius: 80px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 1px 1px 3px rgba(255, 255, 255, 0.3),
    inset -1px -1px 4px rgba(0, 0, 0, 0.2),
    0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

section.contact .wrap-cont .wrap-btn-sumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-110px);
  transition: transform 0.3s ease;
}

section.contact .wrap-cont .wrap-btn-sumb.soc {
  transform: translateY(0px);
}

section.contact .wrap-cont .wrap-btn-sumb > button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 63px;
  padding: 0;
  border-radius: 80px;
  letter-spacing: 0.0012em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  isolation: isolate;
  font-size: 24px;
  font-weight: 600;
  background: rgb(0 0 0 / 20%);
  border: 1px solid #c9c9c9;
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 55%),
    inset 0 -1px 0 rgb(0 0 0 / 30%),
    inset 1px 0 0 rgb(255 255 255 / 18%),
    0 8px 30px rgb(0 0 0 / 25%);
  color: white;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease;
}

section.contact .wrap-cont .wrap-btn-sumb > button.active {
  background-color: rgb(255 255 255 / 20%);
}

/* page work start */

header.works {
  position: relative;
  margin-bottom: -219px;
}

.p-cont-one,
.p-cont-two {
  transition: transform 0.8s ease;
}

.p-cont-one {
  transform: translateX(0vw);
}

.p-cont-two {
  position: absolute;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform: translateX(250vw);
}

.p-cont-one.hide {
  transform: translateX(-250vw);
}

.p-cont-two.show {
  transform: translateX(0vw);
}

section.works {
  display: flex;
  flex-direction: column;
  gap: 85px;
  width: 100%;
}

section.works > .works-hero-text {
  font-size: 64px;
}

section.works > .works-wrap {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section.works > .works-wrap > div:nth-child(even) {
  flex-direction: row-reverse;
}

section.works > .works-wrap > .bl-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

section.works > .works-wrap > .bl-wr > .bl-l {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 650px;
  width: 100%;
}

section.works > .works-wrap > .bl-wr > .bl-l > span {
  text-align: center;
}

section.works > .works-wrap > .bl-wr > .bl-l > span > a {
  font-size: 32px;
  line-height: 1.4;
  color: white;
}

section.works > .works-wrap > .bl-wr > .bl-l > div {
  height: 455px;
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

section.works > .works-wrap > .bl-wr > .bl-l > div:hover {
  transform: scale(1.05);
}

section.works > .works-wrap > .bl-wr > .bl-l > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.works > .works-wrap > .bl-wr > .bl-r {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 575px;
  width: 100%;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap {
  height: 42px;
  opacity: 0.3;
  overflow: hidden;
  transition:
    height 1s ease,
    opacity 1s ease;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap.active {
  opacity: 1;
}

section.works > .works-wrap > .bl-wr > .bl-r > p,
section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap > p,
section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div li {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.024px;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div {
  padding-left: 30px;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div > ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap > div > ul > li::marker {
  font-size: 10px;
  vertical-align: middle;
}

section.works > .works-wrap > .bl-wr > .bl-r > span {
  position: relative;
  align-self: flex-end;
  font-family: "Jura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  opacity: 0.8;
}

section.works > .works-wrap > .bl-wr > .bl-r > span::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

section.works > .works-wrap > .bl-wr > .bl-r > span:hover::after {
  width: 100%;
  left: 0;
}

section.works > .works-wrap > .bl-wr > .bl-r > a {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 16px;
  padding: 12px 46px;

  background: rgb(255 255 255 / 10%);
  border: 0.5px solid #c9c9c9;
  border-radius: 50px;
  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 16%),
    inset 0 -1px 0 rgb(0 0 0 / 12%);

  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.0012em;
  transition: background 0.3s ease;
}

section.works > .works-wrap > .bl-wr > .bl-r > a::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(-45deg, rgb(255 255 255 / 14%) 0%, rgb(255 255 255 / 4%) 20%, transparent 70%);
}

section.works > .works-wrap > .bl-wr > .bl-r > a:hover {
  background: rgb(255 255 255 / 30%);
}

/* page work end */

/* decorat elements start */
.decor-two {
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 55px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-two > .cube {
  width: 850px;
  height: 850px;
}

.decor-two > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-two > .cube > img:nth-of-type(1) {
  display: block;
}

.decor-two > .cube > img:nth-of-type(2) {
  display: none;
}

.decor-three {
  position: absolute;
  top: -200px;
  left: -500px;
  z-index: -1;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-three > .wrap {
  position: relative;
}

.decor-three > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(0, 255, 255, 0.8) 0%, rgba(0, 255, 255, 0.55) 25%, rgba(0, 255, 255, 0.1) 60%, rgba(0, 255, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-three > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1116px;
  height: 1116px;
}

.decor-three > .wrap > .texture > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-four {
  position: absolute;
  top: 450px;
  left: -450px;
  z-index: -1;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-four > .wrap {
  position: relative;
}

.decor-four > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(55, 0, 255, 0.45) 0%, rgba(55, 0, 255, 0.35) 25%, rgba(55, 0, 255, 0.1) 60%, rgba(55, 0, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-four > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 850px;
  height: 850px;
}

.decor-four > .wrap > .texture > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-five {
  position: absolute;
  bottom: -600px;
  right: -450px;
  z-index: -1;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-five > .wrap {
  position: relative;
}

.decor-five > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(55, 0, 255, 0.75) 15%, rgba(55, 0, 255, 0.25) 35%, rgba(55, 0, 255, 0.1) 60%, rgba(55, 0, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-five > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1000px;
  height: 1000px;
}

.decor-five > .wrap > .texture > img,
.decor-five > .wrap > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-five > .wrap > .cube {
  position: absolute;
  z-index: -3;
  width: 550px;
  aspect-ratio: 1 / 1;
  height: auto;
  left: 60px;
  bottom: 330px;
}

.decor-six {
  position: absolute;
  z-index: -1;
  top: 420px;
  right: -245px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-six > .cube {
  width: 520px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-six > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-seven {
  position: absolute;
  z-index: -1;
  top: 500px;
  right: 110px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-seven > .cube {
  width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-seven > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-eight {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: -250px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-eight > .cube {
  width: 700px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-eight > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

/* decorat elements end */

/* decorat elements works page start */

.decor-work-one {
  position: absolute;
  z-index: -1;
  top: 1340px;
  left: -470px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-work-one > .wrap {
  position: relative;
}

.decor-work-one > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1116px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-one > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1400px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(0, 255, 255, 0.75) 15%, rgba(0, 255, 255, 0.4) 25%, rgba(0, 255, 255, 0.1) 60%, rgba(0, 255, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-work-one > .wrap > .texture > img,
.decor-work-two > .wrap > .texture > img {
  display: block;
}

.decor-work-one > .wrap > .texture > img:nth-of-type(1),
.decor-work-one > .wrap > .texture > img:nth-of-type(2),
.decor-work-two > .wrap > .texture > img:nth-of-type(1),
.decor-work-two > .wrap > .texture > img:nth-of-type(2),
.decor-work-three > .wrap > .texture > img:nth-of-type(1),
.decor-work-three > .wrap > .texture > img:nth-of-type(2),
.decor-work-four > .wrap > .texture > img:nth-of-type(1),
.decor-work-four > .wrap > .texture > img:nth-of-type(2),
.decor-work-five > .wrap > .texture > img:nth-of-type(1),
.decor-work-five > .wrap > .texture > img:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.decor-work-one > .wrap > .texture > img:nth-of-type(2),
.decor-work-two > .wrap > .texture > img:nth-of-type(2),
.decor-work-three > .wrap > .texture > img:nth-of-type(2),
.decor-work-four > .wrap > .texture > img:nth-of-type(2),
.decor-work-five > .wrap > .texture > img:nth-of-type(2) {
  display: none;
}

.decor-work-two {
  position: absolute;
  z-index: -1;
  top: 2050px;
  left: -370px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-work-two > .wrap {
  position: relative;
}

.decor-work-two > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 850px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-two > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(23px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 800px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(55, 0, 255, 0.45) 15%, rgba(55, 0, 255, 0.3) 20%, rgba(55, 0, 255, 0.1) 60%, rgba(55, 0, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-work-three {
  position: absolute;
  z-index: -1;
  top: 2580px;
  right: -500px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-work-three > .wrap {
  position: relative;
}

.decor-work-three > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1080px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-three > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(70px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1530px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(120, 12, 255, 0.75) 15%, rgba(120, 12, 255, 0.3) 30%, rgba(120, 12, 255, 0.1) 60%, rgba(120, 12, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-work-four {
  position: absolute;
  z-index: -1;
  top: 4340px;
  left: -500px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-work-four > .wrap {
  position: relative;
}

.decor-work-four > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 940px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-four > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(70px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1250px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(55, 0, 255, 0.55) 25%, rgba(55, 0, 255, 0.3) 30%, rgba(55, 0, 255, 0.1) 60%, rgba(55, 0, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.decor-work-five {
  position: absolute;
  z-index: -1;
  bottom: -500px;
  right: -530px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.decor-work-five > .wrap {
  position: relative;
}

.decor-work-five > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-five > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(70px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1300px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(circle at center, rgba(0, 255, 255, 0.85) 25%, rgba(0, 255, 255, 0.4) 30%, rgba(0, 255, 255, 0.1) 60%, rgba(0, 255, 255, 0) 95%);
  pointer-events: none;
  z-index: -4;
}

.work-cube-one {
  position: absolute;
  z-index: -1;
  top: 560px;
  left: -145px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-one > img {
  display: block;
  width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-two {
  position: absolute;
  z-index: -1;
  top: 1140px;
  right: -90px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-two > img {
  display: block;
  width: 500px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-three {
  position: absolute;
  z-index: -1;
  top: 2225px;
  left: 0px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-three > img {
  display: block;
  width: 200px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-four {
  position: absolute;
  z-index: -1;
  top: 2900px;
  right: -95px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-four > img {
  display: block;
  width: 400px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-five {
  position: absolute;
  z-index: -1;
  top: 3260px;
  left: -120px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-five > img {
  display: block;
  width: 250px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-six {
  position: absolute;
  z-index: -1;
  top: 4365px;
  right: -115px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-six > img {
  display: block;
  width: 400px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-seven {
  position: absolute;
  z-index: -1;
  top: 4640px;
  left: -125px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-seven > img {
  display: block;
  width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-eight {
  position: absolute;
  z-index: -2;
  bottom: -80px;
  right: 85px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-eight > img {
  display: block;
  width: 800px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-eight > img:nth-of-type(2) {
  display: none;
}

.work-cube-nine {
  display: none;
  position: absolute;
  z-index: -2;
  bottom: 0px;
  left: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.work-cube-nine > img {
  display: block;
  width: 800px;
  aspect-ratio: 1 / 1;
  height: auto;
}

/* decorat elements works page end */

/* перемикач теми початок */

body.light-theme {
  section.hero > .bl-r > .hero-social > ul > li > a > svg > path {
    fill: rgb(0 0 0 / 70%);
  }

  section.hero > .bl-r > .hero-social > ul > li > a:hover > svg > path {
    fill: #04020f;
  }

  section.hero > .bl-r > .hero-social > ul > li > a:active > svg > path {
    fill: rgb(0 0 0 / 20%);
  }

  section.hero > .bl-r > .hero-inf > .hero-inf-text {
    color: black;
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(1) {
    background-color: rgb(0 0 0 / 70%);
    color: white;
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(1):hover {
    background: #04020f;
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(1):active {
    background: rgb(0 0 0 / 40%);
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(2) {
    background-color: rgb(0 0 0 / 10%);
    color: black;
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(2):hover {
    background: rgb(0 0 0 / 30%);
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(2):active {
    background: rgb(0 0 0 / 80%);
  }

  section.about > .bl-l > div {
    color: black;
  }

  section.about > .bl-l > p {
    color: black;
  }

  section.skills > div {
    color: black;
  }

  section.skills > div > ul > li {
    background-color: rgb(0 0 0 / 10%);
    border: 1px solid #595959;
  }

  section.contact .wrap-cont .bl-contact {
    color: black;
  }

  section.contact .wrap-cont .wrap-inputs > div > label {
    color: black;
  }

  section.contact .wrap-cont .wrap-inputs > div > input {
    background-color: rgb(0 0 0 / 10%);
    color: black;
  }

  section.contact .wrap-cont .wrap-inputs > div > input::placeholder {
    color: rgb(0 0 0 / 50%);
  }

  section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-text {
    color: black;
  }

  section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > label {
    color: black;
  }

  section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input {
    background-color: rgb(0 0 0 / 10%);
    color: black;
  }

  section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input::placeholder {
    color: rgb(0 0 0 / 50%);
  }

  section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials > span > svg > path {
    fill: rgb(0 0 0 / 70%);
  }

  section.contact .wrap-cont .wrap-btn-sumb > button {
    background-color: rgb(255 255 255 / 20%);
    box-shadow: unset;
    color: white;
  }

  section.contact .wrap-cont .wrap-btn-sumb > button.active {
    background-color: rgb(0 0 0 / 30%);
    box-shadow:
      inset 0 1px 0 rgb(255 255 255 / 55%),
      inset 0 -1px 0 rgb(0 0 0 / 30%),
      inset 1px 0 0 rgb(255 255 255 / 18%),
      0 8px 30px rgb(0 0 0 / 25%);
  }

  section.works > .works-hero-text {
    color: black;
  }

  section.works > .works-wrap > .bl-wr > .bl-l > div {
    border: 1px solid #595959;
  }

  section.works > .works-wrap > .bl-wr > .bl-l > span > a {
    color: black;
  }

  section.works > .works-wrap > .bl-wr > .bl-r {
    color: black;
  }

  section.works > .works-wrap > .bl-wr > .bl-r > span {
    color: black;
  }

  section.works > .works-wrap > .bl-wr > .bl-r > span::after {
    background-color: black;
  }

  section.works > .works-wrap > .bl-wr > .bl-r > a {
    background-color: rgb(0 0 0 / 10%);
    color: black;
  }

  section.works > .works-wrap > .bl-wr > .bl-r > a:hover {
    background-color: rgb(0 0 0 / 30%);
  }

  .decor-work-two > .wrap > span {
    background: radial-gradient(circle at center, rgba(55, 0, 255, 0.45) 35%, rgba(55, 0, 255, 0.4) 30%, rgba(55, 0, 255, 0.1) 60%, rgba(55, 0, 255, 0) 95%);
  }
}

/* перемикач теми початок кінець */

@media (min-width: 816px) and (max-width: 1440px) {
  section.about {
    margin-top: clamp(104px, 26.442vw - 111.769px, 269px);
  }

  @media (min-width: 816px) and (max-width: 1300px) {
    section.about {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    section.about > .bl-r {
      max-width: clamp(558px, -7.372vw + 664.154px, 604px);
    }
  }

  section.about > .bl-l {
    gap: clamp(20px, 1.603vw + 6.923px, 30px);
    max-width: clamp(604px, 543.846px + 7.3718vw, 650px);
    margin-top: clamp(18px, 4.167vw - 16px, 44px);
  }

  section.about > .bl-l > div {
    font-size: clamp(48px, 2.564vw + 27.077px, 64px);
  }

  section.about > .bl-l > p {
    font-size: clamp(24px, 1.282vw + 13.538px, 32px);
  }

  section.skills {
    gap: clamp(56px, 12.179vw - 43.385px, 132px);
    margin-top: clamp(105px, 28.205vw - 125.154px, 281px);
  }

  @media (min-width: 816px) and (max-width: 1300px) {
    section.skills {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    section.skills > .bl-l > ul > li {
      max-width: 572px;
    }

    section.skills > .bl-r > ul > li {
      max-width: 408px;
    }
  }

  section.contact {
    margin-top: clamp(138px, 9.615vw + 59.538px, 198px);
    margin-bottom: clamp(262px, calc(518.92px - 17.788vw), 373px);
  }

  section.contact .wrap-cont > .bl-contact {
    font-size: clamp(62px, calc(59.3870967741935px + 0.320512820512821vw), 64px);
  }

  /* page work start */

  section.works {
    gap: clamp(8px, calc(12.34vw - 92.56px), 85px);
  }

  section.works > .works-hero-text {
    font-size: clamp(48px, calc(2.564vw + 27.077px), 64px);
  }

  section.works > .works-wrap {
    gap: clamp(100px, calc(215.385px - 8.013vw), 150px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l > span > a {
    font-size: clamp(22px, calc(1.603vw + 8.923px), 32px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l {
    gap: clamp(20px, calc(1.603vw + 6.923px), 30px);
    max-width: clamp(572px, calc(12.5vw + 470px), 650px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l > div {
    height: clamp(401px, calc(8.654vw + 330.385px), 455px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r {
    max-width: clamp(500px, calc(21.1538461538462px + 38.4615384615385vw), 575px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r > p,
  section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap > p,
  section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div li {
    font-size: clamp(16px, calc(0.641vw + 10.769px), 20px);
  }

  @media (min-width: 816px) and (max-width: 1245px) {
    section.works > .works-wrap > .bl-wr {
      flex-direction: column;
      padding-right: 60px;
    }

    section.works > .works-wrap > div:nth-child(even) {
      flex-direction: column;
    }

    section.works > .works-wrap > .bl-wr > .bl-l {
      flex-direction: column-reverse;
      max-width: clamp(572px, calc(18.182vw + 423.636px), 650px);
    }

    section.works > .works-wrap > .bl-wr > .bl-l > div {
      height: clamp(401px, calc(11.628vw + 306.16px), 455px);
    }

    section.works > .works-wrap > .bl-wr > .bl-r {
      max-width: clamp(604px, calc(80.653vw - 54.126px), 950px);
    }
  }

  /* page work end */

  /* decorat elements start */
  .decor-two {
    left: clamp(-70px, -4.808vw - 0.769px, -40px);
    top: clamp(55px, -12.019vw + 228.077px, 130px);
  }

  .decor-two > .cube {
    width: clamp(500px, 56.09vw + 42.308px, 850px);
    height: clamp(500px, 56.09vw + 42.308px, 850px);
  }

  .decor-three {
    top: clamp(-200px, -15.705vw + 26.154px, -102px);
    left: clamp(-500px, -17.628vw - 246.154px, -390px);
  }

  .decor-three > .wrap > span {
    width: clamp(1100px, 32.051vw + 838.462px, 1300px);
    height: clamp(1100px, 32.051vw + 838.462px, 1300px);
  }

  .decor-three > .wrap > .texture {
    width: clamp(950px, 26.603vw + 732.885px, 1116px);
    height: clamp(950px, 26.603vw + 732.885px, 1116px);
  }

  .decor-four {
    top: clamp(450px, -16.026vw + 680.769px, 550px);
    left: clamp(-450px, -16.026vw - 219.231px, -350px);
  }

  .decor-four > .wrap > span {
    width: clamp(800px, 32.051vw + 538.462px, 1000px);
    height: clamp(800px, 32.051vw + 538.462px, 1000px);
  }

  .decor-four > .wrap > .texture {
    width: clamp(700px, 24.038vw + 503.846px, 850px);
    height: clamp(700px, 24.038vw + 503.846px, 850px);
  }

  .decor-five {
    bottom: clamp(-820px, -1107.69px + 35.26vw, -600px);
    right: clamp(-500px, -565.38px + 8.01vw, -450px);
  }

  .decor-five > .wrap > span {
    width: 1300px;
    height: 1300px;
  }

  .decor-five > .wrap > .texture {
    width: 1000px;
    height: 1000px;
  }

  .decor-five > .wrap > .cube {
    width: clamp(330px, 42.31px + 35.26vw, 550px);
    left: clamp(60px, 313.85px - 17.63vw, 170px);
    bottom: clamp(330px, 653.08px - 22.44vw, 470px);
  }

  .decor-six {
    top: clamp(420px, -1.603vw + 443.077px, 430px);
    right: clamp(-245px, -19.231vw + 31.923px, -125px);
  }

  .decor-six > .cube {
    width: clamp(320px, 32.051vw + 58.462px, 520px);
  }

  .decor-seven {
    top: clamp(500px, -96.154vw + 1884.615px, 1100px);
    right: clamp(0px, 17.628vw - 143.846px, 110px);
  }

  .decor-seven > .cube {
    width: clamp(160px, 22.436vw - 23.077px, 300px);
  }

  .decor-eight {
    top: clamp(50px, -59.295vw + 903.846px, 420px);
    left: clamp(-250px, -16.026vw - 19.231px, -150px);
  }

  .decor-eight > .cube {
    width: clamp(400px, 48.077vw + 7.692px, 700px);
  }

  /* decorat elements end */

  /* decorat elements works page start */

  .decor-work-one {
    top: clamp(1340px, calc(-116.9872vw + 3024.6154px), 2070px);
    left: clamp(-480px, calc(1.6026vw - 493.0769px), -470px);
  }

  .decor-work-one > .wrap > .texture {
    width: clamp(1000px, calc(18.5897vw + 848.3077px), 1116px);
  }

  .decor-work-one > .wrap > span {
    width: clamp(1220px, calc(804.615px + 41.667vw), 1400px);
  }

  .decor-work-two {
    top: clamp(2050px, calc(-115.3846vw + 3711.5385px), 2770px);
    left: clamp(-370px, calc(-17.6282vw - 116.1538px), -260px);
  }

  .decor-work-two > .wrap > .texture {
    width: clamp(550px, calc(48.0769vw + 157.6923px), 850px);
  }

  .decor-work-two > .wrap > span {
    width: clamp(530px, calc(43.2692vw + 176.9231px), 800px);
  }

  .decor-work-three {
    top: clamp(2580px, calc(5394.231px - 195.513vw), 3800px);
  }

  .decor-work-three > .wrap > .texture {
    width: 1080px;
  }

  .decor-work-three > .wrap > span {
    width: 1530px;
  }

  .decor-work-four {
    top: clamp(4340px, calc(6923.077px - 179.487vw), 5460px);
    left: clamp(-500px, calc(-407.692px - 6.41vw), -460px);
  }

  .decor-work-four > .wrap > .texture {
    width: 940px;
  }

  .decor-work-four > .wrap > span {
    width: clamp(930px, calc(511.538px + 51.282vw), 1250px);
  }

  .decor-work-five {
    bottom: -500px;
    right: -530px;
  }

  .decor-work-five > .wrap > .texture {
    width: clamp(1200px, calc(1069.2307692307693px + 16.025641025641026vw), 1300px);
  }

  .decor-work-five > .wrap > span {
    width: clamp(1100px, calc(838.4615384615385px + 32.05128205128205vw), 1300px);
  }

  .work-cube-one {
    top: clamp(525px, calc(1298.076923076923px - 53.68589743589743vw), 860px);
    left: clamp(-175px, calc(5px - 12.5vw), -97px);
  }

  .work-cube-one > img {
    width: clamp(200px, calc(69.2307692307692px + 16.025641025641026vw), 300px);
  }

  .work-cube-two {
    top: clamp(1140px, calc(2802.307692307692px - 115.38461538461539vw), 1860px);
    right: clamp(-110px, calc(-136.15384615384616px + 3.2051282051282053vw), -90px);
  }

  .work-cube-two > img {
    width: clamp(300px, calc(38.46153846153846px + 32.05128205128205vw), 500px);
  }

  .work-cube-three {
    left: clamp(-350px, calc(-807.6923076923077px + 56.08974358974359vw), 0px);
  }

  .work-cube-three > img {
    width: 200px;
  }

  .work-cube-four {
    top: clamp(2900px, calc(5807.692307692308px - 201.92307692307693vw), 4160px);
    right: clamp(-95px, calc(-83.46153846153845px - 0.8012820512820513vw), -90px);
  }

  .work-cube-four > img {
    width: clamp(300px, calc(169.23076923076923px + 16.025641025641026vw), 400px);
  }

  .work-cube-five {
    top: clamp(3260px, calc(4621.384615384615px - 94.55128205128205vw), 3850px);
    left: clamp(-450px, calc(-881.5384615384615px + 52.88461538461539vw), -120px);
  }

  .work-cube-five > img {
    width: 250px;
  }

  .work-cube-six {
    top: clamp(4365px, calc(9188.076923076924px - 334.93589743589746vw), 6455px);

    right: clamp(-115px, calc(23.46153846153846px - 9.615384615384615vw), -55px);
  }

  .work-cube-six > img {
    width: clamp(300px, calc(169.23076923076923px + 16.025641025641026vw), 400px);
  }

  .work-cube-seven {
    top: clamp(4640px, calc(7270px - 182.69230769230769vw), 5780px);
    left: clamp(-125px, calc(-37.30769230769231px - 6.08974358974359vw), -87px);
  }

  .work-cube-seven > img {
    width: clamp(220px, calc(115.38461538461536px + 12.82051282051282vw), 300px);
  }

  .work-cube-eight {
    bottom: clamp(-80px, calc(104.61538461538461px - 12.82051282051282vw), 0px);
    right: clamp(15px, calc(-76.53846153846152px + 11.217948717948717vw), 85px);
  }

  .work-cube-eight > img {
    width: clamp(250px, calc(-469.2307692307693px + 88.14102564102564vw), 800px);
  }

  /* decorat elements works page end */
}

@media (min-width: 320px) and (max-width: 815px) {
  section.about {
    margin-top: clamp(79px, calc(62.871px + 5.0403vw), 104px);
  }

  section.about > .bl-l {
    gap: clamp(20px, calc(29.871px - 1.2097vw), 26px);
    max-width: clamp(272px, 66.935vw + 57.806px, 604px);
    margin-top: 18px;
  }

  section.about > .bl-l > div {
    font-size: clamp(28px, calc(15.0968px + 4.0323vw), 48px);
  }

  section.about > .bl-l > p {
    font-size: clamp(13px, calc(5.9032px + 2.2177vw), 24px);
  }

  section.about > .bl-r {
    max-width: clamp(272px, calc(65.55px + 66.5323vw), 604px);
  }

  section.about > .bl-r > .wrap-pers > img:nth-of-type(1) {
    display: none;
  }

  section.about > .bl-r > .wrap-pers > img:nth-of-type(2) {
    display: block;
  }

  section.about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section.skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, calc(49.3548px + 0.8065vw), 56px);
    margin-top: clamp(87px, 75.387px + 3.629vw, 105px);
  }

  section.skills > div {
    font-size: clamp(28px, calc(15.0968px + 4.0323vw), 48px);
  }

  section.skills > div {
    gap: clamp(30px, calc(17.0968px + 4.0323vw), 50px);
  }

  section.skills > div > ul {
    gap: clamp(20px, calc(10.3226px + 3.0242vw), 35px);
  }

  section.skills > .bl-l > ul > li {
    max-width: clamp(272px, calc(78.4516px + 60.4839vw), 572px);
  }

  section.skills > .bl-r > ul > li {
    max-width: clamp(200px, calc(65.8065px + 41.9355vw), 408px);
  }

  section.skills > div > ul > li {
    height: clamp(44px, calc(14.3333px + 9.2742vw), 90px);
    padding: 0 clamp(0px, calc(-15.4839px + 4.8387vw), 24px);
    font-size: clamp(14px, 7.548px + 2.016vw, 24px);
  }

  section.contact {
    margin-top: clamp(74px, calc(45.9355px + 11.2903vw), 138px);
    margin-bottom: clamp(118px, calc(51.411vw - 46.72px), 373px);
  }

  section.contact .wrap-cont {
    gap: clamp(30px, calc(23.5484px + 2.0161vw), 40px);
  }

  section.contact .wrap-cont > .bl-contact {
    font-size: clamp(28px, calc(4.7742px + 7.2581vw), 64px);
  }

  section.contact .wrap-cont > .wrap-inputs {
    gap: clamp(16px, calc(10.8387px + 1.6129vw), 24px);
    margin-top: clamp(0px, calc(-12.9032px + 4.0323vw), 20px);
  }

  section.contact .wrap-cont > .wrap-inputs > div > label {
    font-size: clamp(14px, calc(10.129px + 1.2097vw), 20px);
  }

  section.contact .wrap-cont > .wrap-inputs > div > input {
    height: clamp(44px, calc(36.2581px + 2.4194vw), 56px);
    font-size: clamp(12px, calc(6.83870967741935px + 1.61290322580645vw), 20px);
  }

  section.contact .wrap-cont > .wrap-forcontacts {
    gap: clamp(20px, calc(30.5806px - 0.8065vw), 24px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-forcont-text {
    font-size: clamp(14px, calc(10.129px + 1.2097vw), 20px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-forcont-socials {
    gap: clamp(23px, calc(37.8065px - 1.8145vw), 32px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-inp-social > label {
    font-size: clamp(14px, calc(10.129px + 1.2097vw), 20px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-inp-social > input {
    height: clamp(44px, calc(36.2581px + 2.4194vw), 56px);
    font-size: clamp(12px, calc(9.4194px + 0.8065vw), 16px);
  }

  section.contact .wrap-cont > .wrap-btn-sumb > button {
    height: clamp(44px, calc(31.7419px + 3.8306vw), 63px);
  }

  /* page work start */
  .p-cont-one,
  .p-cont-two {
    transition: transform 0.6s ease;
  }

  section.works {
    gap: clamp(8px, calc(21.333px - 1.667vw), 16px);
  }

  section.works > .works-hero-text {
    font-size: clamp(28px, calc(12.903vw + 6.71px), 48px);
  }

  section.works > .works-wrap {
    gap: clamp(78px, calc(14.516vw + 30.968px), 150px);
    margin-top: 0;
  }

  section.works > .works-wrap > div:nth-child(even) {
    flex-direction: column;
  }

  section.works > .works-wrap > .bl-wr {
    flex-direction: column;
    gap: clamp(10px, calc(2.016vw + 3.548px), 20px);
    padding-right: 0;
  }

  section.works > .works-wrap > .bl-wr > .bl-l > span > a {
    font-size: clamp(14px, calc(1.613vw + 8.839px), 22px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l {
    flex-direction: column-reverse;
    gap: clamp(10px, calc(2.016vw + 3.548px), 20px);
    max-width: clamp(272px, calc(60.484vw + 78.452px), 572px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l > div {
    height: clamp(190px, calc(42.54vw + 53.871px), 401px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r {
    max-width: clamp(272px, calc(66.935vw + 57.806px), 604px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r > p,
  section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap > p,
  section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div li {
    font-size: clamp(12px, calc(0.806vw + 9.419px), 16px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r > span {
    font-size: clamp(16px, calc(10.838709677419356px + 1.6129032258064515vw), 24px);
  }
  /* page work end */

  /* decorat elements start */
  .decor-two {
    left: clamp(-40px, -3.024vw - 15.323px, -25px);
    top: clamp(48px, 15.524vw - 1.677px, 125px);
  }

  .decor-two > .cube {
    width: clamp(200px, 66.532vw - 12.903px, 530px);
    height: clamp(200px, 66.532vw - 12.903px, 530px);
  }

  .decor-two > .cube > img:nth-of-type(1) {
    display: none;
  }

  .decor-two > .cube > img:nth-of-type(2) {
    display: block;
  }

  .decor-three {
    top: clamp(-102px, -11.492vw - 8.226px, -45px);
    left: clamp(-390px, -30.242vw - 143.226px, -240px);
  }

  .decor-three > .wrap > span {
    width: clamp(650px, 90.726vw + 359.677px, 1100px);
    height: clamp(650px, 90.726vw + 359.677px, 1100px);
  }

  .decor-three > .wrap > .texture {
    width: clamp(500px, 90.726vw + 209.677px, 950px);
    height: clamp(500px, 90.726vw + 209.677px, 950px);
  }

  .decor-four {
    top: clamp(290px, 52.419vw + 122.258px, 550px);
    left: clamp(-350px, -34.274vw - 70.323px, -180px);
  }

  .decor-four > .wrap > span {
    width: clamp(400px, 80.645vw + 141.935px, 800px);
    height: clamp(400px, 80.645vw + 141.935px, 800px);
  }

  .decor-four > .wrap > .texture {
    width: clamp(300px, 80.645vw + 41.935px, 700px);
    height: clamp(300px, 80.645vw + 41.935px, 700px);
  }

  .decor-five {
    bottom: clamp(-820px, 35.48px - 104.84vw, -300px);
    right: clamp(-500px, -22.58px - 58.47vw, -210px);
  }

  .decor-five > .wrap > span {
    width: clamp(750px, 395.16px + 110.89vw, 1300px);
    aspect-ratio: 1 / 1;
    height: auto;

    background: radial-gradient(circle at center, rgba(55, 0, 255, 0.75) 15%, rgba(55, 0, 255, 0.15) 25%, rgba(55, 0, 255, 0.1) 60%, rgba(55, 0, 255, 0) 95%);
  }

  .decor-five > .wrap > .texture {
    width: clamp(500px, 177.42px + 100.81vw, 1000px);
    aspect-ratio: 1 / 1;
    height: auto;
  }

  .decor-five > .wrap > .cube {
    width: clamp(180px, 83.23px + 30.24vw, 330px);
    left: clamp(168px, 166.71px + 0.4vw, 170px);
    bottom: clamp(134px, -82.77px + 67.74vw, 470px);
  }

  .decor-six {
    top: clamp(210px, 44.355vw + 68.065px, 430px);
    right: clamp(-125px, -9.073vw - 50.968px, -80px);
  }

  .decor-six > .cube {
    width: clamp(150px, 34.274vw + 40.323px, 320px);
  }

  .decor-seven {
    top: clamp(600px, 100.806vw + 277.419px, 1100px);
    right: clamp(-650px, 131.048vw - 1069.355px, 0px);
  }

  .decor-seven > .cube {
    width: 160px;
  }

  .decor-eight {
    top: clamp(143px, 55.847vw - 35.71px, 420px);
    left: clamp(-150px, -12.5vw - 48px, -88px);
  }

  .decor-eight > .cube {
    width: clamp(130px, 54.435vw - 44.194px, 400px);
  }
  /* decorat elements end */

  /* decorat elements works page start */

  .decor-work-one {
    top: clamp(1620px, calc(90.7258vw + 1329.6774px), 2070px);
    left: clamp(-480px, calc(-46.371vw - 101.6129px), -250px);
  }

  .decor-work-one > .wrap > .texture {
    width: clamp(540px, calc(92.7419vw + 243.2258px), 1000px);
  }

  .decor-work-one > .wrap > span {
    width: clamp(550px, calc(102.8226vw + 220.9677px), 1060px);
    background: radial-gradient(circle at center, rgba(0, 255, 255, 0.75) 15%, rgba(0, 255, 255, 0.4) 25%, rgba(0, 255, 255, 0.1) 60%, rgba(0, 255, 255, 0) 95%);
  }

  .decor-work-one > .wrap > .texture > img:nth-of-type(1),
  .decor-work-two > .wrap > .texture > img:nth-of-type(1),
  .decor-work-three > .wrap > .texture > img:nth-of-type(1),
  .decor-work-four > .wrap > .texture > img:nth-of-type(1),
  .decor-work-five > .wrap > .texture > img:nth-of-type(1) {
    display: none;
  }

  .decor-work-one > .wrap > .texture > img:nth-of-type(2),
  .decor-work-two > .wrap > .texture > img:nth-of-type(2),
  .decor-work-three > .wrap > .texture > img:nth-of-type(2),
  .decor-work-four > .wrap > .texture > img:nth-of-type(2),
  .decor-work-five > .wrap > .texture > img:nth-of-type(2) {
    display: block;
  }

  .decor-work-two {
    top: clamp(1890px, calc(133.0645vw + 1464.1935px), 2550px);
    left: clamp(-340px, calc(-32.2581vw - 76.7742px), -180px);
  }

  .decor-work-two > .wrap > .texture {
    width: clamp(410px, calc(72.5806vw + 177.7419px), 770px);
  }

  .decor-work-two > .wrap > span {
    width: clamp(300px, calc(56.4516vw + 119.3548px), 580px);
  }

  .decor-work-three {
    top: clamp(3640px, calc(3536.774px + 32.258vw), 3800px);
    right: clamp(-500px, calc(-457.419px - 13.71vw), -380px);
  }

  .decor-work-three > .wrap > .texture {
    width: clamp(790px, calc(602.581px + 58.944vw), 1080px);
  }

  .decor-work-three > .wrap > span {
    width: clamp(1100px, calc(822.581px + 86.694vw), 1530px);
  }

  .decor-work-four {
    top: clamp(4790px, calc(4357.742px + 135.081vw), 5460px);
    left: clamp(-460px, calc(-48.71px - 50.403vw), -210px);
  }

  .decor-work-four > .wrap > .texture {
    width: clamp(550px, calc(298.387px + 78.629vw), 940px);
  }

  .decor-work-four > .wrap > span {
    width: clamp(630px, calc(436.452px + 60.484vw), 930px);
  }

  .decor-work-five {
    top: unset;
    bottom: clamp(-570px, calc(-43.54838709677418px - 64.51612903225806vw), -250px);
    right: clamp(-530px, calc(-151.61290322580643px - 46.37096774193549vw), -300px);
  }

  .decor-work-five > .wrap > .texture {
    width: clamp(630px, calc(262.258064516129px + 114.91935483870968vw), 1200px);
  }

  .decor-work-five > .wrap > span {
    width: clamp(500px, calc(112.90322580645159px + 120.96774193548387vw), 1100px);
  }

  .work-cube-one {
    top: clamp(745px, calc(670.8064516129032px + 23.18548387096774vw), 860px);
    left: clamp(-97px, calc(-3.225806451612903px - 11.491935483870968vw), -40px);
  }

  .work-cube-one > img {
    width: clamp(100px, calc(35.483870967741936px + 20.161290322580644vw), 200px);
  }

  .work-cube-two {
    top: clamp(1565px, calc(1374.032258064516px + 59.475806451612904vw), 1860px);
    right: clamp(-110px, calc(5.161290322580648px - 14.112903225806452vw), -40px);
  }

  .work-cube-two > img {
    width: clamp(150px, calc(51.225806451612904px + 30.241935483870968vw), 300px);
  }

  .work-cube-three {
    left: -350px;
  }

  .work-cube-three > img {
    width: 200px;
  }

  .work-cube-four {
    top: clamp(4015px, calc(3921.532258064516px + 29.233870967741936vw), 4160px);
    right: clamp(-90px, calc(-57.096774193548384px - 4.032258064516129vw), -70px);
  }

  .work-cube-four > img {
    width: clamp(200px, calc(135.48387096774195px + 20.161290322580648vw), 300px);
  }

  .work-cube-five {
    display: none;
    top: 3850px;
    left: -450px;
  }

  .work-cube-five > img {
    width: 250px;
  }

  .work-cube-six {
    top: 6455px;

    right: clamp(-515px, calc(-811.7741935483871px + 92.74193548387096vw), -55px);
  }

  .work-cube-six > img {
    width: 300px;
  }

  .work-cube-seven {
    top: clamp(4875px, calc(4276.245967741936px + 182.45967741935484vw), 5780px);
    left: clamp(-87px, calc(-55.42943548387097px - 3.8306451612903225vw), -68px);
  }

  .work-cube-seven > img {
    width: clamp(150px, calc(103.6875px + 14.11290322580645vw), 220px);
  }

  .work-cube-eight {
    z-index: -1;
    bottom: clamp(0px, calc(16.451612903225808px - 2.0161290322580645vw), 10px);
    right: 15px;
  }

  .work-cube-eight > img {
    width: clamp(140px, calc(69.03225806451613px + 22.17741935483871vw), 250px);
  }

  .work-cube-eight > img:nth-of-type(1) {
    display: none;
  }

  .work-cube-eight > img:nth-of-type(2) {
    display: block;
  }

  .work-cube-nine {
    display: flex;
    bottom: clamp(660px, calc(440.3225806451613px + 68.5483870967742vw), 1000px);
    left: clamp(-355px, calc(-561.451612903226px + 64.5161290322581vw), -35px);
  }

  .work-cube-nine > img {
    width: clamp(100px, calc(35.4838709677419px + 20.1612903225806vw), 200px);
  }

  /* decorat elements works page end */

  .decor-work-one,
  .decor-work-two,
  .decor-work-three,
  .decor-work-four,
  .decor-work-five,
  .work-cube-one,
  .work-cube-two {
    display: none;
  }
}
