@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Orbitron:wght@400..900&display=swap");

/*


/* 
Thin - 100
Extra Light/Ultra Light - 200
Light - 300
Regular/Normal - 400
Medium - 500
SemiBold/DemiBold - 600
Bold - 700
Extra Bold - 800
Black/Heavy - 900

letter-spacing: 0.0012em;

// <weight>: Use a value from 400 to 900
// <uniquifier>: Use a unique and descriptive class name

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

input,
textarea {
  all: unset;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Jura", sans-serif;
  font-size: 16px;
  letter-spacing: 0.0012em;
  background-color: black;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  line-height: 1.4;
  font-style: normal;
  letter-spacing: 0.0012em;
  color: rgba(255, 255, 255, 0.5);
}

h1 {
  font-size: 200px;
  font-weight: 500;
  margin-top: -127px;
  color: white;
}

h2 {
  position: relative;
  font-weight: 400;
  font-size: 150px;
  margin-left: 4px;

  color: transparent;
  background-image: linear-gradient(
    to bottom,
    rgba(130, 130, 130, 0.8) 60%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

h3 {
  width: fit-content;
  margin-top: -66px;
  margin-right: 112px;
  margin-left: auto;
  font-weight: 400;
  font-size: 130px;

  color: transparent;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

h4 {
  width: fit-content;
  margin-left: 390px;
  font-weight: 400;
  font-size: 120px;
  margin-top: -92px;

  color: transparent;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.8) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}

header {
  margin-bottom: -219px;
  transition: margin-bottom 0.8s ease;
}

.header-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
  padding: 30px 0;
}

.header-cont > .lang-swapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 92px;
  height: 36px;
  padding: 8px 12px 15px;
  border-radius: 20px;
  left: 10px;
  top: 29px;
  font-weight: 700;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.32);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.28),
    0 10px 30px rgba(0, 0, 0, 0.14);
  overflow: hidden;
  will-change: height;
  transition:
    height 0.3s ease,
    background 0.4s ease,
    transform 0.5s ease;
  cursor: pointer;
  transform: translateY(0);
}

.header-cont > .lang-swapper:not(.open):has(> div:hover) {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-cont > .lang-swapper:not(.open):has(> div:active) {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-cont > .lang-swapper.open {
  height: 152px;
}

.header-cont > .lang-swapper::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.26),
    rgba(255, 255, 255, 0.04) 55%,
    transparent
  );
}

.header-cont > .lang-swapper > * {
  position: relative;
  z-index: 1;
}

.header-cont > .lang-swapper > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 25px;
  color: white;
  cursor: pointer;
}

.header-cont > .lang-swapper > div > svg {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.header-cont > .lang-swapper.open > div > svg {
  transform: rotate(180deg);
}

.header-cont > .lang-swapper > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.header-cont > .lang-swapper > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 20px;
  width: 100%;
  height: 25px;
  cursor: pointer;
}

.header-cont > .lang-swapper > ul > li:hover {
  background-color: rgb(255, 255, 255, 0.5);
}

.header-cont > .lang-swapper > ul > li:active {
  background-color: rgb(0, 0, 0, 0.1);
}

.header-cont > .wrap-btn-swap {
  position: relative;
  width: 66px;
  height: 28px;
}

.header-cont > .wrap-btn-swap > input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.header-cont > .wrap-btn-swap > label {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.header-cont > .wrap-btn-swap > label > span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: rgb(134 141 166 / 20%);
  border-radius: 80px;

  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);

  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 20%),
    inset 0 -1px 0 rgb(0 0 0 / 12%),
    0 0 0 1px rgb(255 255 255 / 18%);
}

.header-cont > .wrap-btn-swap > label > span::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;

  width: 40px;
  height: 24px;

  border-radius: 80px;
  background: #04020f;

  box-shadow:
    inset 0 1px 2px rgb(255 255 255 / 6%),
    0 1px 4px rgb(0 0 0 / 35%);

  transition:
    left 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.header-cont > .wrap-btn-swap > label > span::after {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;

  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    -45deg,
    rgb(255 255 255 / 16%) 0%,
    transparent 55%,
    rgb(255 255 255 / 6%) 100%
  );
}

/* Активное состояние */
.header-cont > .wrap-btn-swap > input:checked + label > span::before {
  left: 24px;
  background: #ffffff;

  box-shadow:
    inset 0 1px 2px rgb(255 255 255 / 70%),
    0 1px 6px rgb(255 255 255 / 35%);
}

.header-cont > .wrap-btn-swap > input:focus-visible + label {
  outline: 2px solid rgb(255 255 255 / 70%);
  outline-offset: 3px;
  border-radius: 80px;
}

.header-cont > nav {
  position: relative;
  z-index: 10;
}

.header-cont > nav > ul {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 16px;
}

.header-cont > nav > ul > li > a {
  position: relative;
  font-family: "Jura", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.0012em;
  color: white;
  transition: opacity 0.7s ease;
}

.header-cont > nav > ul > li > a::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
  transition:
    width 0.3s ease,
    opacity 0.5s ease;
}

.header-cont > nav > ul > li > a:hover::after {
  width: 100%;
}

.header-cont > nav > ul > li > a:active {
  opacity: 0.8;
}

.header-cont > nav > ul > li > a:active::after {
  opacity: 0.8;
}

.header-cont > nav > ul > li > a.st {
  opacity: 0.8;
}

.header-cont > nav > ul > li > a.st::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  left: 0;
  bottom: 0;
}

main {
  position: relative;
  display: flex;
  overflow: hidden;
}

section.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 34px;
  cursor: default;
}

section.hero > .bl-l > .hero-title {
  width: fit-content;
}

section.hero > .bl-r {
  display: flex;
  justify-content: space-between;
}

section.hero > .bl-r > .hero-inf {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section.hero > .bl-r > .hero-inf > .hero-inf-text {
  font-family: "Jura", sans-serif;
  font-size: 64px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.0012em;
}

section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta {
  display: flex;
  gap: 47px;
}

section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button {
  font-family: "Jura", sans-serif;
  display: flex;
  align-items: center;
  height: 93px;
  padding: 0 66px;
  border-radius: 50px;
  letter-spacing: 0.0012em;
}

section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(1) {
  position: relative;
  z-index: 1;
  overflow: hidden;
  isolation: isolate;
  margin-left: 255px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.0012em;
  background: rgb(255 255 255 / 70%);
  border-radius: 50px;
  backdrop-filter: blur(5px) saturate(140%);
  -webkit-backdrop-filter: blur(16px) saturate(140%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 60%),
    inset 0 -1px 0 rgb(255 255 255 / 15%),
    0 8px 30px rgb(0 0 0 / 25%);

  color: black;
  transition: background 0.3s ease;
}

section.hero
  > .bl-r
  > .hero-inf
  > .hero-wrap-btn-cta
  > button:nth-of-type(1):hover {
  background: rgb(255 255 255 / 100%);
}

section.hero
  > .bl-r
  > .hero-inf
  > .hero-wrap-btn-cta
  > button:nth-of-type(1):active {
  background: rgb(0 0 0 / 20%);
}

section.hero
  > .bl-r
  > .hero-inf
  > .hero-wrap-btn-cta
  > button:nth-of-type(1)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    rgb(255 255 255 / 35%) 0%,
    rgb(255 255 255 / 10%) 50%,
    rgb(255 255 255 / 0%) 100%
  );
}

section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button:nth-of-type(2) {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.0012em;
  color: white;
  background: rgb(255 255 255 / 10%);
  border: 0.5px solid #c9c9c9;
  border-radius: 50px;
  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 16%),
    inset 0 -1px 0 rgb(0 0 0 / 12%);
  transition: background 0.3s ease;
}

section.hero
  > .bl-r
  > .hero-inf
  > .hero-wrap-btn-cta
  > button:nth-of-type(2):hover {
  background: rgb(255 255 255 / 30%);
}

section.hero
  > .bl-r
  > .hero-inf
  > .hero-wrap-btn-cta
  > button:nth-of-type(2):active {
  background: rgb(255 255 255 / 80%);
}

section.hero
  > .bl-r
  > .hero-inf
  > .hero-wrap-btn-cta
  > button:nth-of-type(2)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    -45deg,
    rgb(255 255 255 / 14%) 0%,
    rgb(255 255 255 / 4%) 20%,
    transparent 70%
  );
}

section.hero > .bl-r > .hero-social {
  margin-top: -280px;
}

section.hero > .bl-r > .hero-social > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

section.hero > .bl-r > .hero-social > ul > li {
  display: flex;
  align-items: baseline;
}

section.hero > .bl-r > .hero-social > ul > li > a {
  display: flex;
}

section.hero > .bl-r > .hero-social > ul > li > a > svg > path {
  fill: rgb(255 255 255 / 70%);
  transition:
    fill 0.3s ease,
    transform 0.5s ease;
}

section.hero > .bl-r > .hero-social > ul > li > a:hover > svg path {
  fill: rgb(255 255 255 / 100%);
  transform: scale(1.1);
}

section.hero > .bl-r > .hero-social > ul > li > a:active > svg path {
  fill: rgb(255 255 255 / 20%);
}

section.about {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 269px;
}

section.about > .bl-l {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 650px;
  margin-top: 44px;
}

section.about > .bl-l > div {
  font-family: "Jura", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

section.about > .bl-l > p {
  font-family: "Jura", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

section.about > .bl-r {
  max-width: 558px;
}

section.about > .bl-r > .wrap-pers {
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 1px solid #16a5a5;
  border-radius: 50%;
  overflow: hidden;
}

section.about > .bl-r > .wrap-pers > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center bottom;
}

section.skills {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 132px;
  margin-top: 281px;
}

section.skills > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 50px;

  font-family: "Jura", sans-serif;
  font-size: 48px;
  font-weight: 700;
}

section.skills > .bl-l {
  max-width: 538px;
  width: 100%;
}

section.skills > .bl-r {
  max-width: 426px;
  width: 100%;
}

section.skills > div > ul {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 35px;
}

section.skills > div > ul > li {
  position: relative;
  overflow: hidden;
  isolation: isolate;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 538px;
  height: 90px;
  padding: 0 24px;

  background: rgb(255 255 255 / 10%);
  border: 1px solid #c9c9c9;
  border-radius: 50px;

  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);

  box-shadow:
    inset 0 0 0 1px #595959,
    inset 0 1px 0 rgb(255 255 255 / 18%),
    inset 0 -1px 0 rgb(0 0 0 / 15%);
  font-family: "Jura", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

section.skills > div > ul > li::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  border-radius: inherit;
  pointer-events: none;

  background: linear-gradient(
    -45deg,
    rgb(255 255 255 / 14%) 0%,
    rgb(255 255 255 / 5%) 42%,
    transparent 72%
  );
}

section.contact {
  position: relative;
  z-index: 5;
  margin-top: 198px;
  margin-bottom: 262px;
}

section.contact .wrap-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

section.contact .wrap-cont .bl-contact {
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 64px;
  font-weight: 700;
}

section.contact .wrap-cont .wrap-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 426px;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: -16px;
}

section.contact .wrap-cont .wrap-inputs > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

section.contact .wrap-cont .wrap-inputs > div > label {
  font-family: "Jura", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

section.contact .wrap-cont .wrap-inputs > div > input {
  outline: none;
  width: 100%;
  max-width: 426px;
  height: 56px;
  padding: 0 24px;
  border-radius: 80px;
  font-family: "Jura", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 1px 1px 3px rgba(255, 255, 255, 0.3),
    inset -1px -1px 4px rgba(0, 0, 0, 0.2),
    0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

section.contact .wrap-cont .wrap-inputs > div > input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

section.contact .wrap-cont .wrap-inputs > div > input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

section.contact .wrap-cont .wrap-forcontacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 426px;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-forcont-socials > span {
  display: flex;
  cursor: pointer;
}

section.contact
  .wrap-cont
  .wrap-forcontacts
  > .wrap-forcont-socials
  > span
  > svg
  > path {
  fill: rgb(255 255 255 / 70%);
  transition:
    fill 0.3s ease,
    transform 0.5s ease;
}

section.contact
  .wrap-cont
  .wrap-forcontacts
  > .wrap-forcont-socials
  > span:hover
  > svg
  > path {
  fill: rgb(255 255 255 / 100%);
  transform: scale(1.1);
}

section.contact
  .wrap-cont
  .wrap-forcontacts
  > .wrap-forcont-socials
  > span.active
  > svg
  > path {
  fill: rgb(255 255 255 / 20%);
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social {
  display: flex;
  flex-direction: column;
  gap: 6px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social.socshow {
  opacity: 1;
  pointer-events: unset;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > label {
  font-size: 20px;
  font-weight: 500;
  color: white;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input {
  outline: none;
  width: 100%;
  max-width: 426px;
  height: 56px;
  padding: 0 24px;
  border-radius: 80px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow:
    inset 1px 1px 3px rgba(255, 255, 255, 0.3),
    inset -1px -1px 4px rgba(0, 0, 0, 0.2),
    0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

section.contact .wrap-cont .wrap-forcontacts > .wrap-inp-social > input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 1);
}

section.contact .wrap-cont .wrap-btn-sumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateY(-110px);
  transition: transform 0.3s ease;
}

section.contact .wrap-cont .wrap-btn-sumb.soc {
  transform: translateY(0px);
}

section.contact .wrap-cont .wrap-btn-sumb > button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 63px;
  padding: 0;
  border-radius: 80px;
  letter-spacing: 0.0012em;
  position: relative;
  z-index: 1;
  overflow: hidden;
  isolation: isolate;
  font-size: 24px;
  font-weight: 600;
  background: rgb(0 0 0 / 20%);
  border: 1px solid #c9c9c9;
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 55%),
    inset 0 -1px 0 rgb(0 0 0 / 30%),
    inset 1px 0 0 rgb(255 255 255 / 18%),
    0 8px 30px rgb(0 0 0 / 25%);
  color: white;
  transition: background 0.3s ease;
}

section.contact .wrap-cont .wrap-btn-sumb > button:hover {
  background: rgb(255 255 255 / 30%);
}

/* page work start */

header.works {
  position: relative;
  margin-bottom: -219px;
}

.p-cont-one,
.p-cont-two {
  transition: transform 0.8s ease;
}

.p-cont-one {
  transform: translateX(0vw);
}

.p-cont-two {
  position: absolute;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform: translateX(250vw);
}

.p-cont-one.hide {
  transform: translateX(-250vw);
}

.p-cont-two.show {
  transform: translateX(0vw);
}

section.works {
  display: flex;
  flex-direction: column;
  gap: 85px;
  width: 100%;
}

section.works > .works-hero-text {
  font-size: 64px;
}

section.works > .works-wrap {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

section.works > .works-wrap > div:nth-child(even) {
  flex-direction: row-reverse;
}

section.works > .works-wrap > .bl-wr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

section.works > .works-wrap > .bl-wr > .bl-l {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 650px;
  width: 100%;
}

section.works > .works-wrap > .bl-wr > .bl-l > span {
  text-align: center;
}

section.works > .works-wrap > .bl-wr > .bl-l > span > a {
  font-size: 32px;
  line-height: 1.4;
  color: white;
}

section.works > .works-wrap > .bl-wr > .bl-l > div {
  height: 455px;
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

section.works > .works-wrap > .bl-wr > .bl-l > div:hover {
  transform: scale(1.05);
}

section.works > .works-wrap > .bl-wr > .bl-l > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.works > .works-wrap > .bl-wr > .bl-r {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 575px;
  width: 100%;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap {
  height: 42px;
  opacity: 0.3;
  overflow: hidden;
  transition:
    height 1s ease,
    opacity 1s ease;
}

section.works > .works-wrap > .bl-wr > .bl-r > p,
section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap > p,
section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div li {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.024px;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div {
  padding-left: 30px;
}

section.works > .works-wrap > .bl-wr > .bl-r > .bl-r-wrap div > ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
}

section.works
  > .works-wrap
  > .bl-wr
  > .bl-r
  > .bl-r-wrap
  > div
  > ul
  > li::marker {
  font-size: 10px;
  vertical-align: middle;
}

section.works > .works-wrap > .bl-wr > .bl-r > span {
  position: relative;
  align-self: flex-end;
  font-family: "Jura", sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  opacity: 0.8;
}

section.works > .works-wrap > .bl-wr > .bl-r > span::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: white;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

section.works > .works-wrap > .bl-wr > .bl-r > span:hover::after {
  width: 100%;
  left: 0;
}

section.works > .works-wrap > .bl-wr > .bl-r > a {
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 16px;
  padding: 12px 46px;

  background: rgb(255 255 255 / 10%);
  border: 0.5px solid #c9c9c9;
  border-radius: 50px;
  backdrop-filter: blur(4px) saturate(120%);
  -webkit-backdrop-filter: blur(4px) saturate(120%);
  box-shadow:
    inset 0 1px 0 rgb(255 255 255 / 16%),
    inset 0 -1px 0 rgb(0 0 0 / 12%);

  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.0012em;
  transition: background 0.3s ease;
}

section.works > .works-wrap > .bl-wr > .bl-r > a::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  pointer-events: none;
  background: linear-gradient(
    -45deg,
    rgb(255 255 255 / 14%) 0%,
    rgb(255 255 255 / 4%) 20%,
    transparent 70%
  );
}

section.works > .works-wrap > .bl-wr > .bl-r > a:hover {
  background: rgb(255 255 255 / 30%);
}

/* page work end */

/* decorat elements start */

.decor-one {
  position: absolute;
  right: -280px;
  top: -170px;
  z-index: -1;
}

.decor-one > .wrap {
  position: relative;
}

.decor-one > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(40px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;

  background: radial-gradient(
    circle at center,
    rgba(120, 12, 255, 0.45) 0%,
    rgba(120, 12, 255, 0.35) 25%,
    rgba(120, 12, 255, 0.1) 60%,
    rgba(120, 12, 255, 0) 95%
  );

  pointer-events: none;
  z-index: -4;
}

.decor-one > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 872px;
  height: 805px;
}

.decor-one > .wrap > .texture > img,
.decor-one > .wrap > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-one > .wrap > .cube {
  position: absolute;
  z-index: -3;
  width: 700px;
  height: 700px;
  left: 25px;
  top: -170px;
}

.decor-two {
  position: absolute;
  z-index: -1;
  left: -70px;
  top: 55px;
}

.decor-two > .cube {
  width: 850px;
  height: 850px;
}

.decor-two > .cube > img {
  width: 100%;
  height: 100%;
}

.decor-two > .cube > img:nth-of-type(1) {
  display: block;
}

.decor-two > .cube > img:nth-of-type(2) {
  display: none;
}

.decor-three {
  position: absolute;
  top: -200px;
  left: -500px;
  z-index: -1;
}

.decor-three > .wrap {
  position: relative;
}

.decor-three > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(0, 255, 255, 0.8) 0%,
    rgba(0, 255, 255, 0.55) 25%,
    rgba(0, 255, 255, 0.1) 60%,
    rgba(0, 255, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-three > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1116px;
  height: 1116px;
}

.decor-three > .wrap > .texture > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-four {
  position: absolute;
  top: 450px;
  left: -450px;
  z-index: -1;
}

.decor-four > .wrap {
  position: relative;
}

.decor-four > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(55, 0, 255, 0.45) 0%,
    rgba(55, 0, 255, 0.35) 25%,
    rgba(55, 0, 255, 0.1) 60%,
    rgba(55, 0, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-four > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 850px;
  height: 850px;
}

.decor-four > .wrap > .texture > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-five {
  position: absolute;
  bottom: -600px;
  right: -450px;
  z-index: -1;
}

.decor-five > .wrap {
  position: relative;
}

.decor-five > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(55, 0, 255, 0.75) 15%,
    rgba(55, 0, 255, 0.25) 35%,
    rgba(55, 0, 255, 0.1) 60%,
    rgba(55, 0, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-five > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1000px;
  height: 1000px;
}

.decor-five > .wrap > .texture > img,
.decor-five > .wrap > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-five > .wrap > .cube {
  position: absolute;
  z-index: -3;
  width: 550px;
  aspect-ratio: 1 / 1;
  height: auto;
  left: 60px;
  bottom: 330px;
}

.decor-six {
  position: absolute;
  z-index: -1;
  top: 420px;
  right: -245px;
}

.decor-six > .cube {
  width: 520px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-six > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-seven {
  position: absolute;
  z-index: -1;
  top: 500px;
  right: 110px;
}

.decor-seven > .cube {
  width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-seven > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-eight {
  position: absolute;
  z-index: -1;
  top: 50px;
  left: -250px;
}

.decor-eight > .cube {
  width: 700px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-eight > .cube > img {
  display: block;
  width: 100%;
  height: 100%;
}

.decor-nine {
  display: none;
}
/* decorat elements end */

/* decorat elements works page start */

.decor-work-one {
  position: absolute;
  z-index: -1;
  top: 1340px;
  left: -470px;
}

.decor-work-one > .wrap {
  position: relative;
}

.decor-work-one > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1116px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-one > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(75px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1400px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(0, 255, 255, 0.75) 15%,
    rgba(0, 255, 255, 0.4) 25%,
    rgba(0, 255, 255, 0.1) 60%,
    rgba(0, 255, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-work-one > .wrap > .texture > img,
.decor-work-two > .wrap > .texture > img {
  display: block;
}

.decor-work-one > .wrap > .texture > img:nth-of-type(1),
.decor-work-one > .wrap > .texture > img:nth-of-type(2),
.decor-work-two > .wrap > .texture > img:nth-of-type(1),
.decor-work-two > .wrap > .texture > img:nth-of-type(2),
.decor-work-three > .wrap > .texture > img:nth-of-type(1),
.decor-work-three > .wrap > .texture > img:nth-of-type(2),
.decor-work-four > .wrap > .texture > img:nth-of-type(1),
.decor-work-four > .wrap > .texture > img:nth-of-type(2),
.decor-work-five > .wrap > .texture > img:nth-of-type(1),
.decor-work-five > .wrap > .texture > img:nth-of-type(2) {
  width: 100%;
  height: 100%;
}

.decor-work-one > .wrap > .texture > img:nth-of-type(2),
.decor-work-two > .wrap > .texture > img:nth-of-type(2),
.decor-work-three > .wrap > .texture > img:nth-of-type(2),
.decor-work-four > .wrap > .texture > img:nth-of-type(2),
.decor-work-five > .wrap > .texture > img:nth-of-type(2) {
  display: none;
}

.decor-work-two {
  position: absolute;
  z-index: -1;
  top: 2050px;
  left: -370px;
}

.decor-work-two > .wrap {
  position: relative;
}

.decor-work-two > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 850px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-two > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(23px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 800px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(55, 0, 255, 0.45) 15%,
    rgba(55, 0, 255, 0.3) 20%,
    rgba(55, 0, 255, 0.1) 60%,
    rgba(55, 0, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-work-three {
  position: absolute;
  z-index: -1;
  top: 2580px;
  right: -500px;
}

.decor-work-three > .wrap {
  position: relative;
}

.decor-work-three > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1080px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-three > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(70px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1530px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(120, 12, 255, 0.75) 15%,
    rgba(120, 12, 255, 0.3) 30%,
    rgba(120, 12, 255, 0.1) 60%,
    rgba(120, 12, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-work-four {
  position: absolute;
  z-index: -1;
  top: 4340px;
  left: -500px;
}

.decor-work-four > .wrap {
  position: relative;
}

.decor-work-four > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 940px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-four > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(70px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1250px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(55, 0, 255, 0.55) 25%,
    rgba(55, 0, 255, 0.3) 30%,
    rgba(55, 0, 255, 0.1) 60%,
    rgba(55, 0, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.decor-work-five {
  position: absolute;
  z-index: -1;
  bottom: -500px;
  right: -530px;
}

.decor-work-five > .wrap {
  position: relative;
}

.decor-work-five > .wrap > .texture {
  position: relative;
  z-index: -5;
  width: 1300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.decor-work-five > .wrap > span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  filter: blur(70px);
  will-change: transform;
  transform: translate(-50%, -50%) translateZ(0);
  width: 1300px;
  aspect-ratio: 1 / 1;
  height: auto;
  border-radius: 50%;
  background: radial-gradient(
    circle at center,
    rgba(0, 255, 255, 0.85) 25%,
    rgba(0, 255, 255, 0.4) 30%,
    rgba(0, 255, 255, 0.1) 60%,
    rgba(0, 255, 255, 0) 95%
  );
  pointer-events: none;
  z-index: -4;
}

.work-cube-one {
  position: absolute;
  z-index: -1;
  top: 560px;
  left: -145px;
}

.work-cube-one > img {
  display: block;
  width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-two {
  position: absolute;
  z-index: -1;
  top: 1140px;
  right: -90px;
}

.work-cube-two > img {
  display: block;
  width: 500px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-three {
  position: absolute;
  z-index: -1;
  top: 2225px;
  left: 0px;
}

.work-cube-three > img {
  display: block;
  width: 200px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-four {
  position: absolute;
  z-index: -1;
  top: 2900px;
  right: -95px;
}

.work-cube-four > img {
  display: block;
  width: 400px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-five {
  position: absolute;
  z-index: -1;
  top: 3260px;
  left: -120px;
}

.work-cube-five > img {
  display: block;
  width: 250px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-six {
  position: absolute;
  z-index: -1;
  top: 4365px;
  right: -115px;
}

.work-cube-six > img {
  display: block;
  width: 400px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-seven {
  position: absolute;
  z-index: -1;
  top: 4640px;
  left: -125px;
}

.work-cube-seven > img {
  display: block;
  width: 300px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-eight {
  position: absolute;
  z-index: -2;
  bottom: -80px;
  right: 85px;
}

.work-cube-eight > img {
  display: block;
  width: 800px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.work-cube-eight > img:nth-of-type(2) {
  display: none;
}

.work-cube-nine {
  display: none;
  position: absolute;
  z-index: -2;
  bottom: 0px;
  left: 0;
}

.work-cube-nine > img {
  display: block;
  width: 800px;
  aspect-ratio: 1 / 1;
  height: auto;
}

/* decorat elements works page end */
