@media (min-width: 320px) and (max-width: 815px) {
  .container {
    padding: 0 24px;
  }

  h2 {
    font-size: clamp(40px, 12.097vw + 1.29px, 100px);
  }

  h1 {
    font-size: clamp(46px, calc(-1.4516px + 14.9194vw), 120px);
    margin-top: clamp(-77px, calc(-2.9677px - 9.0726vw), -32px);
  }

  h4 {
    font-size: clamp(30px, calc(-2.2581px + 10.0806vw), 80px);
    margin-top: clamp(-58px, calc(2.9032px - 7.4597vw), -21px);
    margin-left: clamp(83px, calc(-37px + 37.5vw), 269px);
  }

  h3 {
    font-size: clamp(28px, calc(-4.2581px + 10.0806vw), 78px);
    margin-top: clamp(-43px, calc(3.0645px - 5.6452vw), -15px);
    margin-right: 0px;
  }

  header {
    margin-bottom: clamp(70px, calc(59.6774px + 3.2258vw), 86px);
    transition: margin-bottom 0.3s ease;
  }

  .header-cont {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    padding: 24px 0 0;
  }

  .header-cont > .wrap-btn-swap {
    width: clamp(58px, calc(52.8387px + 1.6129vw), 66px);
    height: clamp(23px, calc(19.7742px + 1.0081vw), 28px);
  }

  .header-cont > .wrap-btn-swap > label > span::before {
    width: clamp(30px, calc(23.5484px + 2.0161vw), 40px);
    height: clamp(19px, calc(15.7742px + 1.0081vw), 24px);
  }

  .header-cont > .nav-wrap > .burger-menu {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 36px;
    height: 36px;
    margin-top: clamp(-8px, calc(-13.1613px + 1.6129vw), 0px);
    cursor: pointer;
  }

  .header-cont > .nav-wrap > .burger-menu > span {
    width: 29.25px;
    height: 2px;
    background-color: white;
    border-radius: 6px;
  }

  .header-cont > .nav-wrap > nav {
    position: absolute;
    z-index: 9;
    overflow: hidden;
    width: calc(100% + 48px);
    height: 95vh;
    top: 0;
    left: 0;
    margin-left: -24px;
    padding: 86px 24px 0;
    background-color: black;
    transition: transform 0.5s ease;
    transform: translateY(-200%);
  }

  .header-cont > .nav-wrap > nav > ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 12;
  }

  .header-cont > .nav-wrap > nav > ul > li > a {
    display: flex;
    font-size: 28px;
    color: white;
  }

  section.hero {
    gap: clamp(55px, calc(2.5806px + 16.5323vw), 137px);
  }

  section.hero > .bl-r {
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
  }

  section.hero > .bl-r > .hero-inf {
    align-items: center;
    gap: clamp(30px, calc(15.1613px + 4.6371vw), 53px);
    width: 100%;
  }

  section.hero > .bl-r > .hero-inf > .hero-inf-text {
    align-self: flex-start;
    font-size: clamp(18px, calc(3.8065px + 4.4355vw), 40px);
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta {
    flex-direction: column;
    gap: clamp(14px, calc(-0.1935px + 4.4355vw), 36px);
    max-width: clamp(272px, calc(204.9032px + 20.9677vw), 376px);
    width: 100%;
  }

  section.hero > .bl-r > .hero-inf > .hero-wrap-btn-cta > button {
    text-align: center;
    justify-content: center;
    height: clamp(44px, calc(28.5161px + 4.8387vw), 68px);
    padding: 0;
  }

  section.hero
    > .bl-r
    > .hero-inf
    > .hero-wrap-btn-cta
    > button:nth-of-type(1) {
    margin-left: 0;
    font-size: clamp(20px, calc(14.8387px + 1.6129vw), 28px);
  }

  section.hero
    > .bl-r
    > .hero-inf
    > .hero-wrap-btn-cta
    > button:nth-of-type(2) {
    font-size: clamp(16px, calc(12.129px + 1.2097vw), 22px);
  }

  section.hero > .bl-r > .hero-social {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  section.hero > .bl-r > .hero-social > ul {
    flex-direction: row;
  }

  section.hero > .bl-r > .hero-social > ul > li > a > svg {
    width: clamp(28px, calc(17.6774px + 3.2258vw), 44px);
    height: clamp(28px, calc(17.6774px + 3.2258vw), 44px);
  }

  section.about {
    margin-top: clamp(79px, calc(62.871px + 5.0403vw), 104px);
  }

  section.about > .bl-l {
    gap: clamp(20px, calc(29.871px - 1.2097vw), 26px);
    max-width: clamp(272px, 66.935vw + 57.806px, 604px);
    margin-top: 18px;
  }

  section.about > .bl-l > div {
    font-size: clamp(28px, calc(15.0968px + 4.0323vw), 48px);
  }

  section.about > .bl-l > p {
    font-size: clamp(13px, calc(5.9032px + 2.2177vw), 24px);
  }

  section.about > .bl-r {
    max-width: clamp(272px, calc(65.55px + 66.5323vw), 604px);
  }

  section.about {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section.skills {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, calc(49.3548px + 0.8065vw), 56px);
    margin-top: clamp(87px, 75.387px + 3.629vw, 105px);
  }

  section.skills > div {
    font-size: clamp(28px, calc(15.0968px + 4.0323vw), 48px);
  }

  section.skills > div {
    gap: clamp(30px, calc(17.0968px + 4.0323vw), 50px);
  }

  section.skills > div > ul {
    gap: clamp(20px, calc(10.3226px + 3.0242vw), 35px);
  }

  section.skills > .bl-l > ul > li {
    max-width: clamp(272px, calc(78.4516px + 60.4839vw), 572px);
  }

  section.skills > .bl-r > ul > li {
    max-width: clamp(200px, calc(65.8065px + 41.9355vw), 408px);
  }

  section.skills > div > ul > li {
    height: clamp(44px, calc(14.3333px + 9.2742vw), 90px);
    padding: 0 clamp(0px, calc(-15.4839px + 4.8387vw), 24px);
    font-size: clamp(14px, 7.548px + 2.016vw, 24px);
  }

  section.contact {
    margin-top: clamp(74px, calc(45.9355px + 11.2903vw), 138px);
    margin-bottom: clamp(118px, calc(51.411vw - 46.72px), 373px);
  }

  section.contact .wrap-cont {
    gap: clamp(30px, calc(23.5484px + 2.0161vw), 40px);
  }

  section.contact .wrap-cont > .bl-contact {
    font-size: clamp(28px, calc(4.7742px + 7.2581vw), 64px);
  }

  section.contact .wrap-cont > .wrap-inputs {
    gap: clamp(16px, calc(10.8387px + 1.6129vw), 24px);
    margin-top: clamp(0px, calc(-12.9032px + 4.0323vw), 20px);
  }

  section.contact .wrap-cont > .wrap-inputs > div > label {
    font-size: clamp(14px, calc(10.129px + 1.2097vw), 20px);
  }

  section.contact .wrap-cont > .wrap-inputs > div > input {
    height: clamp(44px, calc(36.2581px + 2.4194vw), 56px);
    font-size: clamp(12px, calc(9.4194px + 0.8065vw), 16px);
  }

  section.contact .wrap-cont > .wrap-forcontacts {
    gap: clamp(20px, calc(30.5806px - 0.8065vw), 24px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-forcont-text {
    font-size: clamp(14px, calc(10.129px + 1.2097vw), 20px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-forcont-socials {
    gap: clamp(23px, calc(37.8065px - 1.8145vw), 32px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-inp-social > label {
    font-size: clamp(14px, calc(10.129px + 1.2097vw), 20px);
  }

  section.contact .wrap-cont > .wrap-forcontacts > .wrap-inp-social > input {
    height: clamp(44px, calc(36.2581px + 2.4194vw), 56px);
    font-size: clamp(12px, calc(9.4194px + 0.8065vw), 16px);
  }

  section.contact .wrap-cont > .wrap-btn-sumb > button {
    height: clamp(44px, calc(31.7419px + 3.8306vw), 63px);
    padding: 0 clamp(76px, calc(99.0323px - 2.8226vw), 90px);
  }

  /* header texture start */

  .drawing-one {
    top: clamp(-403px, calc(-27.8226vw - 175.9677px), -265px);
    left: clamp(38px, calc(77.0161vw - 208.4516px), 420px);
  }

  .wrap-texture {
    width: clamp(564px, calc(45.9677vw + 416.9032px), 792px);
    height: clamp(530px, calc(55.4435vw + 352.2581px), 805px);
  }

  .wrap-texture > svg:nth-of-type(1) {
    width: clamp(564px, calc(45.9677vw + 416.9032px), 792px);
    height: clamp(530px, calc(55.4435vw + 352.2581px), 805px);
  }

  .wrap-texture > svg:nth-of-type(2) {
    width: clamp(425px, calc(44.625vw + 283.5px), 646.34px);
    height: clamp(425px, calc(35.2298vw + 312.264px), 599.94px);
  }

  .wrap-cube-nav {
    width: clamp(217.04px, calc(26.254vw + 133.03px), 347.26px);
    height: clamp(248.72px, calc(30.089vw + 152.44px), 397.96px);
    left: clamp(60px, calc(81.387px - 2.621vw), 73px);
    top: clamp(142px, calc(12.702vw + 101.355px), 205px);
    transform: rotate(-88deg);
  }

  /* header texture end */

  /* header burger nav texture start */

  .drawing-nav {
    display: flex;
    position: absolute;
    top: -265px;
    left: clamp(38px, calc(22.581vw - 34.258px), 150px);
  }

  .drawing-nav > .wrap-texture {
    position: relative;
    width: clamp(564px, calc(45.9677vw + 416.9032px), 792px);
    height: clamp(530px, calc(55.4435vw + 352.2581px), 805px);
  }

  .drawing-nav > .wrap-texture > svg:nth-of-type(1) {
    position: absolute;
    overflow: visible;
    width: clamp(564px, calc(45.9677vw + 416.9032px), 792px);
    height: clamp(530px, calc(55.4435vw + 352.2581px), 805px);
    top: 0;
    left: 0;
    z-index: 2;
  }

  .drawing-nav > .wrap-texture > svg:nth-of-type(2) {
    position: absolute;
    width: clamp(425px, calc(44.625vw + 283.5px), 646.34px);
    height: clamp(425px, calc(35.2298vw + 312.264px), 599.94px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow: visible;
  }

  .wrap-cube-nav-two {
    display: flex;
    position: absolute;
    width: clamp(250px, calc(19.608vw + 187.25px), 347.26px);
    height: clamp(250px, calc(29.831vw + 154.54px), 397.96px);
    left: clamp(-50px, calc(-0.605vw - 48.065px), -53px);
    top: clamp(320px, calc(17.137vw + 265.161px), 405px);
    transform: rotate(-88deg);
  }

  .wrap-cube-nav-two > img {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* header burger nav texture end */

  /* hero cube start */

  .wrap-cube-two {
    width: clamp(147.59px, calc(40.256vw + 18.71px), 347.26px);
    height: clamp(169.13px, calc(46.135vw + 21.5px), 397.96px);
    left: clamp(18px, calc(1.21vw + 14.13px), 24px);
    top: clamp(65px, calc(20.363vw - 0.161px), 166px);
  }

  /* hero cube end */

  /* about texture one start */
  .drawing-two {
    left: clamp(-545px, calc(-64.516vw - 19.839px), -225px);
    top: clamp(-110px, calc(-18.145vw + 38.065px), -20px);
  }

  .drawing-two > .wrap > .wrap-texture-one {
    width: clamp(408px, calc(98.78vw + 92.87px), 897.95px);
    height: clamp(408px, calc(98.78vw + 92.87px), 897.95px);
  }

  .drawing-two > .wrap > .wrap-texture-one > svg:nth-of-type(1) {
    width: clamp(408px, calc(98.78vw + 92.87px), 897.95px);
    height: clamp(408px, calc(98.78vw + 92.87px), 897.95px);
  }

  .drawing-two > .wrap > .wrap-texture-one > svg:nth-of-type(2) {
    width: clamp(264.87px, calc(64.127vw + 59.28px), 582.94px);
    height: clamp(263.03px, calc(63.274vw + 60.49px), 578.89px);
  }
  /* about texture one end */

  /* about texture two start */
  .drawing-three {
    left: clamp(-280px, calc(-28.226vw - 49.677px), -140px);
    top: clamp(265px, calc(72.581vw + 32.742px), 625px);
  }

  .drawing-three > .wrap > .wrap-texture-two {
    width: clamp(277.79px, calc(51.857vw + 111.74px), 533px);
    height: clamp(277.79px, calc(51.857vw + 111.74px), 533px);
  }

  .drawing-three > .wrap > .wrap-texture-two > svg:nth-of-type(1) {
    width: clamp(277.79px, calc(51.857vw + 111.74px), 533px);
    height: clamp(277.79px, calc(51.857vw + 111.74px), 533px);
  }

  .drawing-three > .wrap > .wrap-texture-two > svg:nth-of-type(2) {
    width: clamp(169.85px, calc(31.46vw + 68.94px), 325.89px);
    height: clamp(169.85px, calc(31.46vw + 68.94px), 325.89px);
    --blur3: 100;
  }
  /* about texture two end */

  /* about cobe three start */

  .wrap-cube-three {
    width: clamp(86.82px, calc(26.258vw + 2.754px), 217.04px);
    height: clamp(99.49px, calc(30.085vw + 3.218px), 248.72px);
    top: clamp(225px, calc(47.379vw + 73.79px), 460px);
    left: clamp(243px, calc(79.839vw - 12.48px), 639px);
    transform: rotate(36.09deg);
  }

  /* about cobe three end */

  /* contact texture four start */

  .drawing-four {
    left: clamp(70px, calc(53.83vw - 102.1px), 337px);
    top: clamp(290px, calc(52.419vw + 122.58px), 550px);
  }

  .drawing-four > .wrap > .wrap-texture-three {
    width: clamp(500px, calc(92.137vw + 205.16px), 957px);
    height: clamp(500px, calc(92.137vw + 205.16px), 957px);
  }

  .drawing-four > .wrap > .wrap-texture-three > svg:nth-of-type(1) {
    width: clamp(500px, calc(92.137vw + 205.16px), 957px);
    height: clamp(500px, calc(92.137vw + 205.16px), 957px);
  }

  .drawing-four > .wrap > .wrap-texture-three > svg:nth-of-type(2) {
    width: clamp(385px, calc(71.169vw + 157.26px), 738px);
    height: clamp(385px, calc(71.169vw + 157.26px), 738px);
  }

  /* contact texture four end */

  /* contact cube one start */

  .wrap-cube-cont-one {
    width: 121.54px;
    height: 139.29px;
    top: 21px;
    left: 610px;
  }

  /* contact cube one end */

  /* contact cube two start */

  .wrap-cube-cont-two {
    width: clamp(86.82px, calc(43.758vw - 55.605px), 303.86px);
    height: clamp(99.49px, calc(50.145vw - 60.973px), 348.21px);
    top: clamp(150px, calc(78.629vw - 101.43px), 540px);
    left: clamp(-106px, calc(-38.548px - 8.266vw), -65px);
  }

  /* contact cube two end */

  /* contact cube two start */

  .wrap-cube-cont-three {
    width: clamp(130.22px, calc(22.754vw + 57.65px), 243.08px);
    height: clamp(149.23px, calc(26.077vw + 65.93px), 278.57px);
    top: clamp(513px, calc(47.782vw + 360.1px), 750px);
    left: clamp(187px, calc(63.105vw - 14.935px), 500px);
    transform: rotate(-47.16deg);
  }

  /* contact cube two end */

  /* page work start */
  header.works {
    margin-bottom: clamp(5px, calc(1.613vw - 6.161px), 7px);
  }

  .p-cont-one,
  .p-cont-two {
    transition: transform 0.3s ease;
  }

  section.works {
    gap: clamp(8px, calc(21.333px - 1.667vw), 16px);
  }

  section.works > .works-hero-text {
    font-size: clamp(28px, calc(12.903vw + 6.71px), 48px);
  }

  section.works > .works-wrap {
    gap: clamp(78px, calc(14.516vw + 30.968px), 150px);
  }

  section.works > .works-wrap > div:nth-child(even) {
    flex-direction: column;
  }

  section.works > .works-wrap > .bl-wr {
    flex-direction: column;
    gap: clamp(10px, calc(2.016vw + 3.548px), 20px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l > span > a {
    font-size: clamp(14px, calc(1.613vw + 8.839px), 22px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l {
    flex-direction: column-reverse;
    gap: clamp(10px, calc(2.016vw + 3.548px), 20px);
    max-width: clamp(272px, calc(60.484vw + 78.452px), 572px);
  }

  section.works > .works-wrap > .bl-wr > .bl-l > div {
    height: clamp(190px, calc(42.54vw + 53.871px), 401px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r {
    max-width: clamp(272px, calc(66.935vw + 57.806px), 604px);
  }

  section.works > .works-wrap > .bl-wr > .bl-r > p,
  section.works > .works-wrap > .bl-wr > .bl-r > div li {
    font-size: clamp(12px, calc(0.806vw + 9.419px), 16px);
  }

  .work-cube-one {
    width: clamp(87px, calc(55.5px + 14.52vw), 174px);
    height: clamp(100px, calc(36.13px + 19.97vw), 199px);
    top: clamp(753px, calc(625.9px + 15.82vw), 950px);
    left: clamp(-85px, calc(-67.26px - 2.07vw), -35px);
  }

  .work-cube-two {
    width: clamp(130px, calc(46.13px + 26.21vw), 260px);
    height: clamp(149px, calc(73.32px + 19.44vw), 298px);
    top: clamp(1622px, calc(1455.23px + 20.44vw), 1880px);
    right: clamp(-84px, calc(18px - 12.5vw), -22px);
  }

  .work-cube-three {
    display: none;
    left: -500px;
  }

  .work-cube-four {
    width: clamp(130px, calc(74.13px + 17.48vw), 217px);
    height: clamp(149px, calc(85.19px + 19.12vw), 248px);
    top: clamp(4093px, calc(4075.58px + 5.27vw), 4120px);
    right: clamp(-40px, calc(-28.48px - 1.41vw), -33px);
  }

  .work-cube-five {
    width: clamp(113px, calc(91.06px + 6.85vw), 147px);
    height: clamp(130px, calc(104.84px + 7.86vw), 169px);
    top: clamp(4969px, calc(449.29px + 149.4vw), 5710px);
    left: clamp(-52px, calc(-48.71px - 0.4vw), -50px);
  }

  .work-cube-six {
    display: none;
    width: 260px;
    height: 298px;
    top: 6475px;
    right: 0px;
  }

  .work-cube-seven {
    display: none;
    width: 149px;
    height: 169px;
    top: 7750px;
    left: -5px;
  }

  .work-cube-eigth {
    width: clamp(104px, calc(59.81px + 14.73vw), 174px);
    height: clamp(119px, calc(61.58px + 16.85vw), 199px);
    top: clamp(6345px, calc(4865.97px + 179.13vw), 8720px);
    right: 25px;
  }
  /* page work end */
}
